  <div class="album" style="padding-top: 1rem;">
    <div class="container">
      <div class="row">

        <% albums.each do |album| %>
          <% if !album.blank? %>
            <div class="col-md-4">

              <div class="card mb-4 shadow-sm">
                <%= link_to (image_tag album.photos.first.variant(resize: "348x225"), class: "card-img-top"), album if album && album.photos %>
                <div class="card-body">
  				        
                  <% if !album.name.blank? && !album.owner.blank? %>
                    <p class="lead text-muted" style="font-size: 16px;margin-top: 8px;margin-bottom: 5px;">
                      Name: <%= album.name %> &nbsp;&nbsp; Owner: <%= album.owner %>
                    </p>
  				        <% end %>


                  <p style="font-size: 15px;">
                    <%= link_to 'Show', album, style: "color: #267da8 !important;" %> &nbsp;
                    <%= link_to 'Edit', edit_album_path(album), style: "color: #267da8 !important;" %>
                  </p>

                </div>
              </div>

            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>