  <div class="container">
    <div class="common-content" style="position: relative;">
      <% @album.photos.each do |photo| %>
        <%= image_tag (photo.variant(resize: "800x450")), {class: "slides", alt: "myimage", style: "width:100%"} %>
      <% end %>
      <button class="slider-left" onclick="sliderImages(-1)">&#10094;</button>
      <button class="slider-right" onclick="sliderImages(1)">&#10095;</button>
    </div>
	  <div class="common-content" style="position: relative;">
	    <h4 class="details">Tagline for Photo: <%= @album.name if @album && @album.name %></h4><br>
      <h5 class="details">Owner: <%= @album.owner if @album && @album.owner %></h5>
      <h5 class="details" style="padding-left: 18px!important;">Created Date: <%= @album.created_at.strftime("%d-%m-%Y") if @album && @album.created_at %></h5>
	      <div class="pull-right" style="margin-top: -27px;">
          <%= link_to 'Back', albums_path, {class: "btn btn-success"} %>
	      </div>
	  </div>
  </div>


<script>
    var slideIndex = 1;
    showSliders(slideIndex);
    function sliderImages(n) {
        showSliders(slideIndex += n);
    }
    function showSliders(n) {
        var i;
        var x = document.getElementsByClassName("slides");
        if (n > x.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = x.length
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>